<nav class="navbar navbar-default">
  <a class="navbar-brand">Editar Caixa do dia <%= I18n.l @caixa.data, format: :default %></a>
    <%= link_to 'Voltar', caixas_path, class: "btn btn-default navbar-btn" %>
</nav>

<div class="container">
<%= render 'form', caixa: @caixa %>
</div>
