<nav class="navbar navbar-default">
  <a class="navbar-brand">Criando Caixa do dia <%= Time.now.strftime("%d %b. %Y - %X") %></a>
    <%= link_to 'Voltar', caixas_path, class: "btn btn-default navbar-btn" %>
</nav>

<div class="container">
<%= render 'form', caixa: @caixa %>

</div>
